{% load static %}
<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <title>Inteligencias por función</title>
  <link rel="icon" type="image/x-icon" href="{% static './media/icons/logo_g19.png' %}">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="Front-End del trabajo práctico del curso Full-Stack Python 2023 2C - Codo a Codo">
  <meta name="author" content="Valentín, Matías, Julián, Mario">

  <link rel="stylesheet" href="{% static './css/styles.css' %}" />
  <link rel="stylesheet" href="{% static './css/main.css' %}" />
</head>

<body>
  <header id="headerPri">

    <div>
      <img src="{% static './media/icons/logo_g19.png' %}" width="55" height="55" alt="Logo del Portfolio - Grupo-19"
        title="Grupo-19" />
    </div>
    <h1>IAs list</h1>

    <div class="oculto">
      {% if user.is_authenticated %}
      <a href="{% url 'store:create' %}" class="btnNew" type="button" title="Agregar Inteligencia Artificial">
          <b>+</b> Agregar IA
      </a>
      {% else %}
      {% endif %}
    </div>

    <nav id="menuPri">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url 'store:all' %}">IAs</a></li>
        <li><a href="{% url 'comentarios' %}">Comentarios</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="bi bi-x-square"></i></a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><i class="bi bi-person-circle"></i></a></li>
        {% endif %}
      </ul>
    </nav>
    <button id="btnMenuPri" type="button"></button>

  </header>

  <main>
    <section id="iaByFunctionList">

    <div id="iaList">
      {% for store in store_list %}
      <ul>
        <li>
          {% if user.is_authenticated %}
          <div>
            <a href="{% url 'store:delete' store.id %}">❌</a>
            <a href="{% url 'store:update' store.id %}">🖋️</a>
          </div>
          {% endif %}
          <a href="{{store.link}}" target="_blank">
          <img src="{{store.imagen}}" title= "{{store.nombre}}" alt="{{store.nombre}}">
        </li>
      </ul>
      {% endfor %}
    </div>

    </section>

    <section id="comments">
      <a href="{% url 'dejar_comentario' %}" class="bi bi-chat-right-text"> dejanos tu comentario!</a>
    </section> 
  </main>

  <footer>
    <section>
      <p>CaC FS PYTHON 2023</p>
      <p><strong>Comisión 23507</strong></p>
      <p><i>Grupo 19</i></p>
    </section>

    <section>
      <article>
        <span>Matías Andrés Sustersic</span>
        <a class="bi bi-envelope" href="mailto:msuster93@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Matías Andrés Sustersic"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491123917168" target="_blank"
          title="Whatsapp de Matías Andrés Sustersic"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Msustersic" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Mario Rubén Lerman</span>
        <a class="bi bi-envelope" href="mailto:mariolerman@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Mario Rubén Lerman"></a>
        <a class="bi bi-whatsapp"
          href="https://api.whatsapp.com/send?phone=5491145777353&text=Contacto%20desde%20IAs list" target="_blank"
          title="Whatsapp de Mario Lerman"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Marior70" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Alejo Podbielski</span>
        <a class="bi bi-envelope" href="mailto:valentinpodbielski71@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Alejo Podbielski"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491162037019" target="_blank"
          title="Whatsapp de Alejo Podbielski"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Valentinpodbielski"
          target="_blank" title="GitHub"></a>
      </article>
      <article>
        <span>Julián Albornoz</span>
        <a class="bi bi-envelope" href="mailto:julian.alborno05@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Julián Albornoz"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491150051266" target="_blank"
          title="Whatsapp de Julián Albornoz"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/julianliyo" target="_blank"
          title="GitHub"></a>
      </article>
    </section>
    <img src="{% static './media/icons/logo_tecno.png' %}" alt="Logo de CSS-3" style="width: 50px;height: 33.5px;">
  </footer>

</body>

</html>