{% load static %}
<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <title>Send us your comments</title>
  <link rel="icon" type="image/x-icon" href="{% static './media/icons/logo_g19.png' %}" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
  <meta name="keywords" content="" />
  <meta name="description" content="Front-End del trabajo práctico del curso Full-Stack Python 2023 2C - Codo a Codo" />
  <meta name="author" content="Valentín, Matías, Julián, Mario" />

  <link rel="stylesheet" href="{% static './css/styles.css' %}" />
</head>

<body>
  <header id="headerPri">

    <a id="logoSitio" href="https://net-m.myddns.me">
      <img src="{% static './media/icons/logo_g19.png' %}" width="55" height="55" alt="Logo del Portfolio - Grupo-19"
        title="Grupo-19" />
    </a>
    <h1>IAs list</h1>
    <nav id="menuPri">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url 'store:all' %}">IAs</a></li>
        <li><a href="{% url 'comentarios' %}">Comentarios</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}"><i class="bi bi-x-square"></i></a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><i class="bi bi-person-circle"></i></a></li>
        {% endif %}
      </ul>
    </nav>

    <button id="btnMenuPri" type="button"></button>

  </header>

  <main>
    <form id="fComments" method="post">
      <fieldset>
        <legend>Tus comentarios son bienvenidos!</legend>
        <label for="contactName">Nombre de contacto</label>
        <input type="text" name="contactName" id="contactName" size="25" minlength="3" maxlength="30"
          pattern="[A-Za-z]{3,25}" placeholder="Ingrese su nombre de usuario" required />
        <p></p>

        <label for="contactEmail">Email de contacto</label>
        <input type="email" name="emailContact" id="contactEmail" size="50" minlength="8" maxlength="50"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Ingrese su cuenta de email" />
        <p></p>

        <label for="contactComment">Dejanos tus comentarios:</label>
        <textarea cols="30" rows="7" name="contactComment" id="contactComment"></textarea>
      </fieldset>

      <button id="btnEnviar" name="btnEnviar" type="button">Enviar</button>
      <button id="btnCancel" name="btnCancel" type="reset">Cancelar</button>
    </form>
  </main>

  <footer>
    <section>
      <p>CaC FS PYTHON 2023</p>
      <p><strong>Comisión 23507</strong></p>
      <p><i>Grupo 19</i></p>
    </section>

    <section>
      <article>
        <span>Matías Andrés Sustersic</span>
        <a class="bi bi-envelope" href="mailto:msuster93@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Matías Andrés Sustersic"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491123917168" target="_blank"
          title="Whatsapp de Matías Andrés Sustersic"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Msustersic" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Mario Rubén Lerman</span>
        <a class="bi bi-envelope" href="mailto:mariolerman@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Mario Rubén Lerman"></a>
        <a class="bi bi-whatsapp"
          href="https://api.whatsapp.com/send?phone=5491145777353&text=Contacto%20desde%20IAs list" target="_blank"
          title="Whatsapp de Mario Lerman"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Marior70" target="_blank"
          title="GitHub"></a>
      </article>      
      <article>
        <span>Alejo Podbielski</span>
        <a class="bi bi-envelope" href="mailto:valentinpodbielski71@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Alejo Podbielski"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491162037019" target="_blank"
          title="Whatsapp de Alejo Podbielski"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Valentinpodbielski" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Julián Albornoz</span>
        <a class="bi bi-envelope" href="mailto:julian.alborno05@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Julián Albornoz"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491150051266" target="_blank"
          title="Whatsapp de Julián Albornoz"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/julianliyo" target="_blank"
          title="GitHub"></a>
      </article>
    </section>
    <img src="{% static './media/icons/logo_tecno.png' %}" alt="Logo de CSS-3" style="width: 50px;height: 33.5px;">
  </footer>

</body>

<script src="{% static 'js/constantes.js' %}"></script>
<script src="{% static 'js/comments/idxFComment.js' %}" type="module"></script>
<script src="{% static 'js/index.js' %}"></script>

</html>