{% load static %}
<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="{% static './media/icons/logo_g19.png' %}">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="Front-End del trabajo práctico del curso Full-Stack Python 2023 2C - Codo a Codo">
  <meta name="author" content="Valentín, Matías, Julián, Mario">

  <link rel="stylesheet" href="{% static './css/styles.css' %}" />
</head>

<body>
  <header id="headerPri">

    <div>
      <img src="{% static './media/icons/logo_g19.png' %}" width="55" height="55" alt="Logo del Portfolio - Grupo-19"
        title="Grupo-19" />
    </div>
    <h1>IAs list</h1>
    <nav id="menuPri">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url 'store:all' %}">IAs</a></li>
        <li><a href="{% url 'comentarios' %}">Comentarios</a></li>
        <li><a href="{% url 'login' %}"><i class="bi bi-person-circle"></i></a></li>
      </ul>
    </nav>

    <button id="btnMenuPri" type="button"></button>

  </header>

  <main>
    <form id="fLogin" action="" method="post" enctype="text/plain">
			<fieldset>
				<legend>Abrir Portfolio para edición</legend>
				<label for="inputUsernameID">Nombre de Usuario</label>
				<input type="text" name="username" id="inputUsernameID" size="25" minlength="3" maxlength="30" pattern="/\d+$/g" placeholder="Ingrese su nombre de usuario" required />
				<!-- aria-placeholder="" value="Pepe None"  -->
				<p></p> <!-- Mensaje de error a manejar con JS -->
				
				<label for="inputClaveID">Contraseña</label>
				<input type="password" name="password" id="inputClaveID" size="25" minlength="8" maxlength="12" pattern="/\d+$/g"
					placeholder="Ingrese su clave" />
				<p></p> <!-- Mensaje de error a manejar con JS -->
			</fieldset>
			
			<button id="btnLogin" name="btnLogin" type="submit">Login</button>
		</form>
  </main>

  <footer>
    <section>
      <p>CaC FS PYTHON 2023</p>
      <p><strong>Comisión 23507</strong></p>
      <p><i>Grupo 19</i></p>
    </section>

    <section>
      <article>
        <span>Matías Andrés Sustersic</span>
        <a class="bi bi-envelope" href="mailto:msuster93@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Matías Andrés Sustersic"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491123917168" target="_blank"
          title="Whatsapp de Matías Andrés Sustersic"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Msustersic" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Mario Rubén Lerman</span>
        <a class="bi bi-envelope" href="mailto:mariolerman@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Mario Rubén Lerman"></a>
        <a class="bi bi-whatsapp"
          href="https://api.whatsapp.com/send?phone=5491145777353&text=Contacto%20desde%20IAs list" target="_blank"
          title="Whatsapp de Mario Lerman"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Marior70" target="_blank"
          title="GitHub"></a>
      </article>      
      <article>
        <span>Alejo Podbielski</span>
        <a class="bi bi-envelope" href="mailto:valentinpodbielski71@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Alejo Podbielski"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491162037019" target="_blank"
          title="Whatsapp de Alejo Podbielski"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/Valentinpodbielski" target="_blank"
          title="GitHub"></a>
      </article>
      <article>
        <span>Julián Albornoz</span>
        <a class="bi bi-envelope" href="mailto:julian.alborno05@gmail.com?$subject=Contacto%20desde%20IAs list"
          title="Email de Julián Albornoz"></a>
        <a class="bi bi-whatsapp" href="https://api.whatsapp.com/send?phone=5491150051266" target="_blank"
          title="Whatsapp de Julián Albornoz"></a>
        <a class="bi bi-github iconRed iconRedG icon tresSeg" href="https://github.com/julianliyo" target="_blank"
          title="GitHub"></a>
      </article>
    </section>
    <img src="{% static './media/icons/logo_tecno.png' %}" alt="Logo de CSS-3" style="width: 50px;height: 33.5px;">
  </footer>

  <script src="{% static './js/index.js' %}"></script>
</body>

</html>